
.lw { font-size: 50px; 
    font-family: 'Courier Prime', monospace;
    padding: 30px 40px 5px 50px;}
    .menu { font-size: 16px; 
    font-family: 'Courier Prime', monospace;
    color: black;
    padding: 0px 7px 50px;
    display: inline-block;}
    .lv1 { font-size: 16px; 
    font-family: 'Courier Prime', monospace;
    color: black;
    padding: 5px 60px 10px;}
    
    .lv2 { font-size: 16px; 
      font-weight: bold;
    font-family: 'Courier Prime', monospace;
    background: #004680;
    color: white;
    padding: 5px;
    margin: 5px 0px;
    display: inline-block;}
    
    .lv3{
      margin: 5px 5px 25px;
      line-height: 160%;
      font-family: 'Open Sans', sans-serif;
    }
    
    .box { font-size: 15px; 
    font-family: 'Open Sans', sans-serif;}
    
    
    